<!DOCTYPE html>

<html>
<head>
     <title>Error 404</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
   <h2>{{title}}</h2>
   <div class="main-content">
    {{>header}}
   
    <p>{{errormessage}}</p>
    </div>
    {{>footer}}
</body>



</html>