<!DOCTYPE html>

<html>
<head>
     <title>Help</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{>header}}

    
    <p1>{{text}}</p1>

    {{>footer}}
</body>



</html>